@mixin text-formating(
  $font-size,
  $color,
  $font-weight,
  $font-family,
  $letter-spacing
) {
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
}
