@import "../../css/global/variables.scss";
@import "../../css/global/mixins.scss";
@import "../../css/global/fonts.scss";

.user-details {
  height: calc(100vh - 60px);
  border: solid 1px $border-color;
  background-color: #ffffff;
  margin: 30px 30px 30px 15px !important;
  transition: 0.5s;

  // Allign items at center
  display: flex;
  flex-direction: column;

  // Shadow effect
  box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.2);

  .ant-card-body {
    overflow-y: auto;
    padding: 12px;
  }

  .ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
    padding: 12.5px;
  }
}
