@import "../../css/global/variables.scss";
@import "../../css/global/mixins.scss";
@import "../../css/global/fonts.scss";

ul.ant-timeline.experience {
  transition: 0.5s;

  // Allign items at center
  display: flex;
  justify-content: center;
  align-items: center;
}
