@import "../../css/global/variables.scss";
@import "../../css/global/mixins.scss";
@import "../../css/global/fonts.scss";

.card-info {
  transition: 0.5s;

  &.projects {
    &:hover {
      box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (max-device-width: 990px) and (orientation: landscape) {
      box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (max-device-width: 990px) and (orientation: portrait) {
      box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: default;
    padding: 12px;
  }

  .title {
    @include text-formating(
      16px,
      $text-color,
      bold,
      "Cadiz-Bold",
      0.20px
    );

    &:after {
      content: "";
      background-color: rgba(151, 151, 151, 0.4);
      width: 100%;
      height: 1px;
      position: relative;
      display: inline-block;
      left: 0;
      top: -5px;
    }
  }

  .sub-title {
    @include text-formating(
      11px,
      $text-color,
      normal,
      "Cadiz-Regular",
      0.20px
    );
  }

  .description {
    margin-top: 12px;
    @include text-formating(
      14px,
      $text-color,
      normal,
      "Cadiz-Regular",
      0.20px
    );
  }

  .technology-images {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .technology-images > li {
    float: left;
    text-align: center;
    width: auto;
  }

  .technology-images > li:not(:last-child) {
    margin-right: 20px;

    &:after {
      content: "";
      border-right: 1px solid $border-color;
      width: 1px;
      height: 100%;
      position: relative;
      right: -10px;
    }
  }

  .list-responsibilities {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .header {
      text-align: left;
      @include text-formating(
        14px,
        $text-color,
        bold,
        "Cadiz-Bold",
        0.2px
      );

      &:after {
        content: "";
        background-color: rgba(151, 151, 151, 0.4);
        width: 100%;
        height: 1px;
        position: relative;
        display: inline-block;
        left: 0;
        top: -5px;
      }
    }

    .responsibilities > li {
      @include text-formating(
        14px,
        $text-color,
        normal,
        "Cadiz-Regular",
        0.20px
      );
    }
  }
}
