@mixin text-formating(
  $font-size,
  $color,
  $line-height,
  $font-weight,
  $font-family
) {
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: $font-family;
}
