// ColorPicker Variables
$white-color: #ffffff;
$black-color: #000000;

//global style variables
$primary-color: #F18805;
$secondary-color: #F1D065;
$text-color: #545454;
$text-color-secondary: #595959;
$body-background: #f3f7f7;
$border-color: #d6d4d4;
