@import "../../css/global/variables.scss";
@import "../../css/global/mixins.scss";
@import "../../css/global/fonts.scss";

.user-profile-card {
  height: calc(100vh - 40px);
  border: solid 1px $border-color;
  background-color: #ffffff;
  margin: 20px 10px 20px 20px !important;
  transition: 0.5s;

  // Allign items at center
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Shadow effect
  &:hover {
    box-shadow: 0 0 10px 5px rgba(203, 203, 203, 0.8);
  }

  .ant-card-actions {
    margin-top: auto;
    align-items: end;
  }

  .user-profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 50px 10px rgba(203, 203, 203, 0.8);
  }

  .user-name {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    @include text-formating(
      20px,
      $black-color,
      normal,
      bold,
      "Cadiz-Bold"
    );
    letter-spacing: 0.20px;
  }

  .user-info {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    @include text-formating(
      14px,
      $text-color,
      normal,
      normal,
      "Cadiz-Regular"
    );
    letter-spacing: 0.20px;
  }

  .user-objective {
    margin-top: 50px;
    @include text-formating(
      14px,
      $text-color,
      normal,
      normal,
      "Cadiz-Regular"
    );
    letter-spacing: 0.20px;
  }
}
