@import "../../css/global/variables.scss";
@import "../../css/global/mixins.scss";
@import "../../css/global/fonts.scss";

.user-profile-card {
  border: solid 1px $border-color;
  background-color: #ffffff;

  // Allign items at center
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Shadow effect
  box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.2);

  // Margin based on media
  margin: 30px 15px 30px 30px !important;
  height: calc(100vh - 60px);

  @media only screen and (max-device-width: 990px) and (orientation: landscape) {
    margin: 30px !important;
  }

  @media only screen and (max-device-width: 990px) and (orientation: portrait) {
    margin: 30px !important;
  }

  @media only screen and (max-device-width: 768px) and (orientation: landscape) {
    margin: 20px !important;
  }

  @media only screen and (max-device-width: 768px) and (orientation: portrait) {
    margin: 20px !important;
  }

  @media only screen and (min-device-width: 2000px) and (orientation: landscape) {
    margin: 150px 40px 150px 150px !important;
    height: calc(100vh - 300px);
  }

  .ant-card-body {
    overflow-y: auto;
  }

  .ant-card-actions {
    margin-top: auto;
    align-items: end;
  }

  .user-profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 50px 10px rgba(203, 203, 203, 0.8);
  }

  .user-name {
    text-align: center;
    padding-top: 16px;
    @include text-formating(
      30px,
      $black-color,
      bold,
      "Cadiz-Bold",
      0.20px
    );
  }

  .user-info {
    text-align: center;
    padding-top: 10px;
    @include text-formating(
      14px,
      $text-color,
      normal,
      "Cadiz-Regular",
      0.20px
    );
  }

  .user-objective {
    margin: 25px 0;
    @include text-formating(
      14px,
      $text-color,
      normal,
      "Cadiz-Regular",
      0.20px
    );
  }

  .hobbies {
    .header {
      text-align: center;
      @include text-formating(
        14px,
        $black-color,
        bold,
        "Cadiz-Bold",
        0.20px
      );

      &:after {
        content: "";
        background-color: rgba(151, 151, 151, 0.4);
        width: 100%;
        height: 1px;
        position: relative;
        display: inline-block;
        left: 0;
        top: -5px;
      }
    }

    .avatar {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .ant-col:nth-child(2), .ant-col:nth-child(3) {
      &:after {
        content: "";
        border-right: 1px solid $border-color;
        width: 1px;
        height: 100%;
        position: relative;
        right: 10px;
        bottom: 30px;
      }
    }
  }
}
