@import "../../css/global/variables.scss";
@import "../../css/global/mixins.scss";
@import "../../css/global/fonts.scss";

.experience {
  transition: 0.5s;

  .details {
    margin: 12px 12px 24px 12px;
    border-radius: 0px;
    box-shadow: 0 6px 16px 0px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.15);
    }

    .company-info-wrapper {
      margin: 15px;
      text-align: center;

      .designation {
        @include text-formating(
          25px,
          $text-color,
          bold,
          "Cadiz-Bold",
          0.20px
        );
      }

      .info {
        margin-top: 5px;
        @include text-formating(
          14px,
          $text-color,
          normal,
          "Cadiz-Regular",
          0.20px
        );
      }

      .company-logo {
        margin-top: 15px;
        width: 150px;

        @media only screen and (max-device-width: 1368px) and (orientation: landscape) {
          width: 130px;
        }

        @media only screen and (max-device-width: 768px) and (orientation: landscape) {
          width: 130px;
        }

        @media only screen and (max-device-width: 768px) and (orientation: portrait) {
          width: 130px;
        }

        @media only screen and (max-device-width: 500px) and (orientation: landscape) {
          width: 100px;
        }

        @media only screen and (max-device-width: 500px) and (orientation: portrait) {
          width: 100px;
        }
      }
    }

    .card-info.experience {
      position: relative;

      &:before {
        content: "";
        border-right: 1px solid rgba(151, 151, 151, 0.4);
        height: 100%;
        position: absolute;
        left: 0px;
      }

      @media only screen and (max-device-width: 767px) and (orientation: landscape) {
        &:before {
          content: "";
          border-top: 1px solid rgba(151, 151, 151, 0.4);
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0px
        }
      }

      @media only screen and (max-device-width: 767px) and (orientation: portrait) {
        &:before {
          content: "";
          border-top: 1px solid rgba(151, 151, 151, 0.4);
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0px
        }
      }
    }
  }
}
